body {
   background-color: #22242d;
   color: #f3f3e3;
   display: block;
   padding: 4em;
   font-size: 1.5em;
}


a {
  background-color: #ff47b1;
  color: #f3f3e3;
  font-weight: bold;
}

h2 {
  background-color: #f3f3e3;
  color: #152515;
}

h2:before {
  background-color: #6c9cf6;
  content: 'ひ';
}

h3,h4,h5,h6 {
  color: #e5eefd;
}

a:hover {
  background-color: #f3f3e3;
  color: #ff47b1;
}


pre {
  color: DarkSlateGrey;
  background-color: WhiteSmoke;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 1em;
  padding: 0.5em;
}


code {
  color: red;
  font-weight: bold;
  overflow-wrap: auto;
}


span.jp {
  color: #89b7fa;
}
