body {
  background-color: #22242d;
  color: #e9e9cf;
  margin: 0 auto;
  max-width: 36em;
  line-height: 1.5;
  font-size: 1.5em;
}

a {
  background-color: #ff47b1;
  color: #f3f3e3;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
}

a:hover {
  background-color: #f3f3e3;
  color: #ff47b1;
}

h2 {
  background-color: #f3f3e3;
  color: #152515;
}

h3,h4,h5,h6 {
  background: #1f606b;
  color: #f3f3e3;
}

h2:before {
  background-color: #6c9cf6;
  content: '大大';
}

span.ja {
  background: #cbcb9b;
  color: #4b4b3a;
  font-size: 0.8em;
}

.engt {
  color: #8ffa89;
  background-color: transparent;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
}

.japt {
  color: #89b7fa;
  background-color: transparent;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

/* This is to help with the revealAnswer.js script. I am grateful for the answer provided by the user "am2505": https://stackoverflow.com/questions/61302125/hiding-answers-to-questions-using-javascript */
.answerBlock {
  display: block !important;
  padding: 20px 0;
}

TABLE,th,td,tr {
  border: 0.05em dotted #e9e9cf;
}

@media (max-width: 500px) {
  body {
    padding: 2em;
    font-size: 1em;
  }
}
