body {
   background-color: #22242d;
   color: #e9e9cf;
   display: block;
   padding: 4em;
   font-size: 1.5em;
}

a {
  background-color: #ff47b1;
  color: #f3f3e3;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
}

a:hover {
  background-color: #f3f3e3;
  color: #ff47b1;
}

h2 {
  background-color: #f3f3e3;
  color: #152515;
}

h3,h4,h5,h6 {
  background: #1f606b;
  color: #f3f3e3;
}

h2:before {
  background-color: #6c9cf6;
  content: 'ひ';
}

code {
  color: cyan;
  font-weight: bold;
  overflow-wrap: auto;
}

span.jp {
  background: #cbcb9b;
  color: #4b4b3a;
  font-size: 0.8em;
}

@media (max-width: 500px) {

  body {
    padding: 2em;
    font-size: 1em;
  }

}
